<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% block body_block %}
{% if registered %}
<h1> thankyou for registering here i am very thankfull for this </h1>
<p> keep your trust on me i am never gonna break it</p>
{% else %}
<h1> registration form </h1>
<p> please fill genuine form </p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{user_form.as_p}}
    {{profile_form.as_p}}
    <input type="submit" class="btn btn-primary" value="register">
</form>
{% endif %}
{% endblock %}
